.vscode/**
.vscode-test/**
.agents/**
.github/**
.mypy_cache/**
.pnpm-store/**
src/**
.gitignore
.yarnrc
Makefile
pnpm-lock.yaml
pnpm-workspace.yaml
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/test/**
images/**

# Explicitly add documentation files
!images/icon.png
!README.md
!LICENSE
!package.json
