.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
test/**

# Keep only out/src
/out/**
!/out/src/**

# Explicity add documentation files
!images/**
!README.md
!LICENSE
!package.json
